/* Botones secundarios */
.btn-secondary {
  padding: 14px;
  width: 100%;
  background: rgba(0,229,255,0.15);
  border: 1px solid rgba(0,229,255,0.4);
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0 0 6px #00e5ff;
}

/* Inputs de edición inline */
.item-edit-input,
.item-edit-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(0,229,255,0.4);
  color: white;
  border-radius: 10px;
}

.item-save-btn {
  padding: 10px;
  background: #00e5ff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
}

.item-edit-btn {
  padding: 10px;
  background: #1ac6ff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.item-delete-btn {
  margin-top: 5px;
}
